name: Deploy landing to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          # Modificar la direccion de la carpeta segun donde se ubique en la VPS
          script: |
            cd /var/www/base-landing
            git pull
            docker compose up -d --build
